@import "tailwindcss";

/* Add customization for tailwind */
@theme {
  --color-custom_red: #db4444;
}

@layer base {
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-4xl font-medium;
  }
  h3 {
    @apply text-3xl font-medium;
  }
  h4 {
    @apply text-2xl font-medium;
  }
  h5 {
    @apply text-xl font-medium;
  }
  h6 {
    @apply text-lg font-medium;
  }

  button {
    @apply cursor-pointer hover:opacity-85;
  }
}

.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
